# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [21]:
import pandas as pd

# Load the three datasets
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

# Check the first few rows of each dataset
print("First few rows of file1:")
print(df1.head())

print("\nFirst few rows of file2:")
print(df2.head())

print("\nFirst few rows of file3:")
print(df3.head())

First few rows of file1:
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

First few rows of file2:
  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car

First few rows of file3:
  Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV

In [22]:
# Combine the three datasets into a single DataFrame
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# Check the first few rows of the combined DataFrame
print("First few rows of the combined dataset:")
print(combined_df.head())

# Check the structure of the combined DataFrame
print("\nStructure of the combined dataset:")
print(combined_df.info())

First few rows of the combined dataset:
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount State Gender
0  Four-Door Car            2.704934   NaN    NaN
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN

Structure of the combined dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   ST                         2067 non-null   object
 2   GENDER                     1945 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    9130 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
 11  State                      7070 non-null   object
 12  Gender                     7070 non-null   object
dtypes: float64(3), object(10)
memory usage: 1.2+ MB
None

In [23]:
combined_df['GENDER'] = combined_df['GENDER'].str.strip().str.lower()
combined_df['GENDER'] = combined_df['GENDER'].replace({'female': 'F', 'f': 'F', 'femal': 'F', 'male': 'M', 'm': 'M'})

state_replacements = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}
combined_df['ST'] = combined_df['ST'].replace(state_replacements)

combined_df['Education'] = combined_df['Education'].replace({'Bachelors': 'Bachelor'})

combined_df['Customer Lifetime Value'] = combined_df['Customer Lifetime Value'].str.replace('%', '', regex=True).astype(float)

vehicle_replacements = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}
combined_df['Vehicle Class'] = combined_df['Vehicle Class'].replace(vehicle_replacements)

print("First few rows after cleaning:")
print(combined_df.head())

print("\nStructure after cleaning:")
display(combined_df.info())

First few rows after cleaning:
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount State Gender
0  Four-Door Car            2.704934   NaN    NaN
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN

Structure after cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   ST                         2067 non-null   object
 2   GENDER                     1945 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    2060 non-null   float64
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
 11  State                      7070 non-null   object
 12  Gender                     7070 non-null   object
dtypes: float64(4), object(9)
memory usage: 1.2+ MB

None

In [27]:
print("Checking for null values after cleaning:")
print(combined_df.isnull().sum())

combined_df.to_csv('cleaned_combined_dataset.csv', index=False)
print("The cleaned and combined dataset has been saved to 'cleaned_combined_dataset.csv'.")

Checking for null values after cleaning:
Customer                      2937
ST                           10007
GENDER                       10129
Education                     2937
Customer Lifetime Value      10014
Income                        2937
Monthly Premium Auto          2937
Number of Open Complaints     2937
Policy Type                   2937
Vehicle Class                 2937
Total Claim Amount            2937
State                         5004
Gender                        5004
dtype: int64
The cleaned and combined dataset has been saved to 'cleaned_combined_dataset.csv'.

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [102]:
import pandas as pd

# Load the dataset
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

# Display the actual column names to verify them
print("Column names in the dataset:")
print(df.columns)

# Let's see the first few rows to understand the data better
print("\nFirst few rows of the dataset:")
print(df.head())

# Identify the correct column names
# Assuming you found the correct names based on the previous step
# Let's look at the columns related to sales channel and total revenue

# Check if the expected columns are in the dataset
sales_channel_column = 'Sales Channel'  # Replace with the correct column name from the dataset
revenue_column = 'Total Claim Amount'   # Replace with the correct column name from the dataset

# Ensure these columns exist in the dataset
if sales_channel_column in df.columns and revenue_column in df.columns:
    # Create the pivot table showing total revenue for each sales channel
    pivot_sales_channel = df.pivot_table(index=sales_channel_column, 
                                         values=revenue_column, 
                                         aggfunc='sum')

    # Round the total revenue to 2 decimal points
    pivot_sales_channel = pivot_sales_channel.round(2)

    # Display the pivot table
    print("\nTotal Revenue for each Sales Channel:")
    print(pivot_sales_channel)
else:
    print(f"Columns '{sales_channel_column}' or '{revenue_column}' not found in the dataset. Please check the column names.")

Column names in the dataset:
Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

First few rows of the dataset:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
Columns 'Sales Channel' or 'Total Claim Amount' not found in the dataset. Please check the column names.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here